*/*/*.pyc
*/*.pyc
*.pyc
*/*.pyo
*.pyo
*.sw[op]
*/*.sw[op]
*.swn
*.swl
*.swm
AdaptivePELE/freeEnergies/*.c
AdaptivePELE/freeEnergies/*.so
AdaptivePELE/atomset/*.c
AdaptivePELE/atomset/*.so
build/
makeReleasePlatform_nord
