@import url("nature.css");

a.external {
   text-decoration: none;
   border-bottom: 1px dashed #355f7c;
}

a.external:hover {
   text-decoration: none;
   border-bottom: none;
}

a.external:visited {
    text-decoration: none;
    border-bottom: 1px dashed #355f7c;
}

div.body h1 { border-top: 20px solid white; margin-top: 0; font-size: 3em; 
	    line-height: 1.25;
	    font-family: Arial, Helvetica, sans-serif;
	    }
div.body h2 { font-size: 2.25em; background-color: #C8D5E3; 
	    line-height: 1.25em;
	    font-family: Arial, Helvetica, sans-serif;
	    }
div.body h3 { font-size: 1.75em; background-color: #D8DEE3; 
	    line-height: 1.25em;
	    font-family: Arial, Helvetica, sans-serif;
	    }
div.body h4 { font-size: 1.125em; background-color: #D8DEE3; 
	    line-height: 1.22222222em;
	    font-family: Arial, Helvetica, sans-serif;
	    }
div.body h5 { font-size: 1em; background-color: #FFF; 
	    line-height: 1.22222222em;
	    font-family: Georgia, serif;
	    }
div.body h6 { font-size: 1em; background-color: #FFF; 
	    line-height: 1.22222222em;
	    }
