AdaptivePELE/*/*.pyc
AdaptivePELE/*/*.sw[op]
AdaptivePELE/epsilon_values.txt
AdaptivePELE/.ropeproject/
AdaptivePELE/os
AdaptivePELE/setuptools
AdaptivePELE/sys
AdaptivePELE/build/
AdaptivePELE/atomset/*.c
AdaptivePELE/atomset/*.so
AdaptivePELE/atomset/build
AdaptivePELE/freeEnergies/*.c
AdaptivePELE/freeEnergies/*.so
AdaptivePELE/freeEnergies/build
AdaptivePELE/Data
AdaptivePELE/Documents
AdaptivePELE/docs/_build
setup.pyc
.ropeproject
build
AdaptivePELE/*.pyc
*.sw[op]
AdaptivePELE/tmp_tests_data_3ptb_data_Test3/
AdaptivePELE/tests/data/3ptb_data/Test3/
AdaptivePELE/tests/data/3ptb_data/RestartTest/*/logFile*
.DS_Store
AdaptivePELE/__pycache__
AdaptivePELE/*/__pycache__
